 /* Custom styling */
 .navbar-custom {
    background-color: #343a40;
  }
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: #ffffff;
  }
  .navbar-custom .nav-link:hover {
    color: #FFD700; /* Change link hover color */
  }




#box-3{

    text-transform: uppercase !important;
}

.error-input {
    border: 1px solid red !important;
}
.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
.table-custom {
    margin-top: 20px;
    border: 1px solid #000000 !important;
    border-radius: 10px;
}
.table-custom thead {
    background-color: #0791dc;
    color: #ffffff;

}
.table-custom th, .table-custom td {
    vertical-align: middle;
    text-align: center;
    height: 15px;
    border-color: #000000 !important;
    border-radius: 5%;
}
.table-custom tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}
.table-custom tbody tr:hover {
    background-color: #e9ecef;
}

